{% extends 'base.html.twig' %}

{% block header %}
    {{ include('app/header/admin.html.twig') }}
{% endblock %}

{% block body %}
    <main class="shop-page">
        <section class="shop container">
            <h2>Добро пожаловать в административный раздел</h2>
        </section>
    </main>
{% endblock %}
