{% if status == 'undone' %}
    <span class="order-item__info order-item__info--no">Не выполнено</span>
{% elseif status == 'done' %}
    <span class="order-item__info order-item__info--yes">Выполнено</span>
{% endif %}
